body{
    background-size:cover;
}

.heading{
    font-size:23px;
    width:100%;
    margin:0px;
}

#start, #number_of_objects, #status{
    font-size:18px;
}

.copy_right_footer{
    position:fixed;
    width:100%;
    background-color:gray;
    color:white;
    bottom:0;
    text-align:center;
    line-height:2;
    font-size:20px;
}

canvas{
    border:2px white;
    border-radius:10px;
    margin-top:100px;
    box-shadow:10px 10px 10px white;
}